body {
    background-color: #252525;
    
    /* display: flex; */
}
.container {
    /* border: 2px solid green; */
    background-image: linear-gradient(red, yellow);
    max-width: 1400px;
    margin: 0 auto;
    /* height: 95vh; */
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-flow: row wrap;   */

}

.container-cima {
    height: 300px;
    /* border: 3px solid red; */
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-flow: row wrap;    
}

.quadrado-esq {
    height: 98%;
    /* background-color:  green; */
    border: 1px solid black;
    align-self: center;
    width: 49%;
}

.rets-direita {
    height: 98%;
    width: 49%;
    /* border: 2px solid blue; */
    /* flex-direction: column; */
    display: flex;
    justify-content: space-between;
    flex-flow: column; 
}
.ret-cima {
    height: 47%;
    width: 100%;
    /* background-color: blueviolet; */
    border: 1px solid black;
}
.ret-baixo {
    height: 47%;
    width: 100%;
    /* background-color: grey; */
    border: 1px solid black;
}

.container-meio {
    width: 100%;
    height: 180px;
    /* border: 2px solid blue; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

}

.ret-grande {
    width: 99%;
    height: 140px;
    /* background-color: aquamarine; */
    border: 1px solid black;
}

.container-baixo {
    /* border: 2px solid red; */

    height: 150px;
    width: 100%;


    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.quad-1, .quad-2, .quad-3, .quad-4, .quad-5 {
    /* background-color: red; */
    border: 1px solid goldenrod;
    width: 19%;
    height: 140px;
}
