body {
    background-color: #252525;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* flex-flow: row wrap; */

}

.left {
    /* border:3px solid grey; */
    width: 60%;
    height: 500px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.container-one {
    width: 100%;
    height: 335px;
    /* border: 2px dotted gold; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
}
.ret-lateral {
    width: 48%;
    height: 100%;
    display: flex;
    flex-flow: column;  
    justify-content: space-around;  
}
.ret-up {
    width: 100%;
    height: 45%;
    background-color: rgb(253, 231, 201);    
}
.ret-down {
    width: 100%;
    height: 45%;
    background-color: rgb(243, 243, 230);
}

.big-square {
    width: 50%;
    height: 96%;
    background-color: grey;
}

.container-two {
    /* border: 1px solid goldenrod; */
    width: 100%;
    height: 165px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    /* flex-flow: row; */
}

.regular-square {
    height: 96%;
    width: 25%;
    background-color: rgb(58, 13, 22);
}

.middle-rectangle {
    height: 96%;
    width: 45%;
    background-color: cornflowerblue;
}

.right {
    
    /* border: 3px solid goldenrod; */
    height: 500px;
    width: 30%;

    display: flex;
    flex-flow: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    /* flex-flow: row; */
}


.container-three {
    /* border: 3px solid purple; */
    height: 165px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-flow: row; */
}
.right .regular-square{
    width: 40%;
    /* border: 1px solid black; */
}

.container-four {
    height: 335px;
    width: 100%;
    /* border: 2px solid red;    */

    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    
}

.ret-vertical {
    height: 96%;
    width: 40%;
    background-color: gold;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.square-vertical {
    height: 100%;
    width: 45%;
/* border:1px solid blue; */
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.container-four .regular-square {
    height: 45%;
    width: 90%;
}