/*geral*/
body {    
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.content {
    margin-top: 200px;
    width: 1200px;
    height: 450px;
    display: flex;
}
.row {
    position: absolute;
    width: 600px;
    display: flex;
    /* border: 1px solid red; */
}

.small-rectangle {
    height: 50px;
    width: 200px;
    border: 1px solid red;
}

.big-rectangle {
    height: 100px;
    width: 400px;
    border: 1px solid red;
}

/*primeira linha - esquerda*/
.first-row-one {  
    height:150px;  
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
}

.first-row-one .row-divider-1 {
    display: flex;
    flex-flow: row;
    flex-direction: row;
}

.first-row-one .big-rectangle {
    margin-left: 200px;
}
.first-row-two {
    margin-left: 600px;
    height:150px;
}

/*primeira linha - direita*/

.one {
    position: absolute;
    margin-top: 100px;
}
.two {
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
}
.three {
    position: absolute;
    margin-top: 50px;
    margin-left: 200px;
}
/*segunda linha - esquerda*/
.second-row-one {
    height: 100px;
    margin-top: 150px;
    margin-left: 0px;
}
.second-row-two {
    margin-top: 150px;
    margin-left: 0px;
}
.four {
    position: absolute;
    margin-left: 200px;
}
.five {
    position: absolute;
    margin-top: 50px;
    margin-left: 200px;
}
.six {
    position: absolute;
    margin-top: 50px;
    margin-left: 400px;
}
.seven {
    position: absolute;
    margin-left: 400px;
}
.eight {
    position: absolute;
    margin-left: 600px;
}
/* terceira linha esquerda*/
.third-row-one {
    margin-top: 250px;
    width: 200px;
    margin-left: 200px;
}
.third-row-two {
    width: 800px;
    margin-top: 250px;
    margin-left: 400px;
}
.last-row {
    margin-top: 352px;
    margin-left: 597px;
}